*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #22ff4a, #11ffee);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.container{
    position: relative;
    left: 300px;
    width: 450px;
    height: 300px;
    background: #f9f9f9;
    border-radius: 1rem;
}
.rating h1{
    text-align: center;
    align-items: center;
    color: #333;
    padding: 50px 0 10px;
}
.stars{
    margin-left: 130px;
    display: flex;
    gap: 1rem;
    font-size: 1.88rem;
}
.stars i{
    color: #a0c1e0;
    border-radius: 50%;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all .3s ease;
}
.stars i.active{
    color: gold;
}